/* global */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
  font-size: 16px;
}

p {
  font-size: 1.7rem;
  line-height: 170%;
}

section {
  padding: 1.1em 1.7em;
}

/* header */
header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1.6rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

header.navbar {
  border-radius: 0;
}

h1 {
  font-weight: bold;
  letter-spacing: -2px;
  max-width: 100px;
}

h1:after, .card h6:after {
  content: "™";
  font-size: 1rem;
  vertical-align: super;
  margin-left: 0.192rem;
}

/* nav */
nav.tabs {
  max-width: 55%;
  margin-left: 1.5rem;
}

nav.tabs a {
  display: inline-block;
  color: black;
  padding: 4px 19px;
  margin-bottom: 24px;
  margin-right: 1px;
}

nav.tabs a.active {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* cards */
.row {
  margin: 0;
}

/* card */

.card {
  background: #231e1e;
  border-color: black;
  color: white;
  padding: 1.8rem 2.2rem;
  min-height: 30rem;
  position: relative;
  max-width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h4 {
  font-size: 2rem;
  line-height: 130%;
}

.card h6 {
  position: absolute;
  font-size: 1.2rem;
  margin-top: 1.618rem;
  opacity: 0.2;
  bottom: 0.618rem;
  left: 1.6rem;
}

.card h6:after {
  font-size: 60%;
  margin-left: 1px;
}

.card:hover {
  cursor: pointer;
}

/* footer */
footer {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

footer p {
  font-size: 1.5rem;
  color: #999;
}

footer .heart {
  color:#cf2e31;
}

/* about page */
#about p {
  max-width: 80%;
}

/* add-card page */
.card-preview {
  margin-top: 1.5em;
}

.question-input {
  width: 50%;
  font-size: 1.8rem;
  padding: 1.3em;
}
