nav.tabs {
  max-width: 55%;
  margin-left: 1.5rem;
}

nav.tabs a {
  display: inline-block;
  color: black;
  padding: 4px 19px;
  margin-bottom: 24px;
  margin-right: 1px;
}

nav.tabs a.active {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
